@(issueForm: helpers.WrappedForm[Issues.IssueData])(implicit lang: Lang)
<div class="well">
    <h1>Issue</h1>
    <form action="@routes.Issues.submit()" method="post" role="form" novalidate>
        @validatingInput(issueForm("summary"), "Summary*")
        @validatingInput(issueForm("reporter"), "Reporter*")
        @validatingInput(issueForm("openDate"), "Open date*")
        @validatingInput(issueForm("projectName"), "Project name")
        @validatingInput(issueForm("priority"), "Priority")
        @validatingInput(issueForm("issueType"), "Issue type")
        @validatingInput(issueForm("exceptionStackTrace"), "Exception stack trace")
        @validatingInput(issueForm("description"), "Description")
        @validatingInput(issueForm("componentName"), "Component name")
        @validatingInput(issueForm("componentVersion"), "Component version")
        @validatingInput(issueForm("assignee"), "Assignee")
        @validatingInput(issueForm("comment"), "Comment")
        <div class="actions">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="@routes.Issues.issues()" class="btn btn-default">Cancel</a>
        </div>
    </form>


</div>
