@import helpers.Pagination
@import helpers.DateTimeFormatting.shortDateTime

@(issues: Seq[com.innoq.rocaplay.domain.issues.Issue],
        paginationNav: Pagination.Navigation, projectName: String = "")

<div class="well">
    <table id="datatable" class="table table-striped" data-queryString="">
        <thead>
        <tr>
            <th>Issue Type</th>
            <th>Summary</th>
            <th>Priority</th>
            <th>Project</th>
            <th>Component</th>
            <th>Reporter</th>
            <th>Assignee</th>
            <th>Created</th>
            <th>Closed</th>
            <th></th>
        </tr>
        </thead>
        <tbody data-provides="rowlink" data-target="a.rowlink">
        @for(i <- issues) {
        <tr data-issueId="@i.id">
            <td>@i.issueType</td>
            <td>@i.summary</td>
            <td>@i.priority</td>
            <td>@i.projectName</td>
            <td>@i.componentName</td>
            <td>@i.reporter</td>
            <td>@i.assignee</td>
            <td>@shortDateTime(i.openDate)</td>
            <td>@i.closeDate.map(shortDateTime _)</td>
            <td><a href="@routes.Issues.load(i.id)">Details</a></td>
        </tr>
        }
        </tbody>
    </table>
    @pagination(paginationNav)
</div>