@(issueForm: Form[Issue])

@import helper._
@import helpers.FormHelper._

@main("Issue") {

<div class="well">
    <h1>Issue</h1>

    @helper.form(action = routes.Application.submit, 'role -> "form") {

    @inputText(
    issueForm("summary"),
    'class -> "form-control",
    '_label -> "Summary*",
    '_error -> issueForm.error("summary"))

    @inputText(
    issueForm("reporter"),
    'class -> "form-control",
    '_label -> "Reporter*",
    '_error -> issueForm.error("reporter"))

    @inputText(
    issueForm("openDate"),
    'class -> "form-control",
    '_label -> "Open date*",
    '_error -> issueForm.error("openDate"))

    @inputText(
    issueForm("projectName"),
    'class -> "form-control",
    '_label -> "Project name",
    '_error -> issueForm.error("projectName"))

    @inputText(
    issueForm("priority"),
    'class -> "form-control",
    '_label -> "Priority",
    '_error -> issueForm.error("priority"))

    @inputText(
    issueForm("issueType"),
    'class -> "form-control",
    '_label -> "Issue type",
    '_error -> issueForm.error("issueType"))

    @inputText(
    issueForm("exceptionStackTrace"),
    'class -> "form-control",
    '_label -> "Exception stack trace",
    '_error -> issueForm.error("exceptionStackTrace"))

    @inputText(
    issueForm("description"),
    'class -> "form-control",
    '_label -> "Description",
    '_error -> issueForm.error("description"))

    @inputText(
    issueForm("componentName"),
    'class -> "form-control",
    '_label -> "Component name",
    '_error -> issueForm.error("componentName"))

    @inputText(
    issueForm("componentVersion"),
    'class -> "form-control",
    '_label -> "Component version",
    '_error -> issueForm.error("componentVersion"))

    @inputText(
    issueForm("assignee"),
    'class -> "form-control",
    '_label -> "Assignee",
    '_error -> issueForm.error("assignee"))

    @inputText(
    issueForm("comment"),
    'class -> "form-control",
    '_label -> "Comment",
    '_error -> issueForm.error("comment"))

    <div class="actions">
        <button type="button" class="btn btn-primary">Submit</button>
        <a href="@routes.Application.issues()" class="btn btn-default">Cancel</a>
    </div>

    }
</div>

}
