@(message: String, issues: List[models.Issue], links: Map[String, String])

@main("Issues") {
    <div class="well">
        <h1>@message</h1>
    </div>
}

<div id="content" class="content">
    <table id="datatable" class="table table-striped" data-queryString="">
        <thead>
        <tr>
            <th>Issue-ID</th>
            <th>Issue Type</th>
            <th>Summary</th>
            <th>Priority</th>
            <th>Project</th>
            <th>Component</th>
            <th>Reporter</th>
            <th>Assignee</th>
            <th>Created</th>
            <th>Closed</th>
        </tr>
        </thead>
        <tbody data-provides="rowlink" data-target="a.rowlink">
        @for(i <- issues) {
        <tr data-issueId="@i.id">
            <td class="nolink">@i.id</td>
            <td>@i.issueType</td>
            <td>@i.summary</td>
            <td>@i.priority</td>
            <td>@i.projectName</td>
            <td>@i.componentName</td>
            <td>@i.reporter</td>
            <td>@i.assignee</td>
            <td>@i.openDate</td>
            <td>@i.closeDate</td>
        </tr>
        }
        </tbody>
    </table>
    @pagination(links)
</div>
