@(title: String, constant: String = MenuContants.ALL_ISSUES)(content: Html)
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.Assets.at("style/roca.css")'>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">IssueTracker</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li @if(constant == MenuContants.ALL_ISSUES) { class="active"}><a href="/issues">All Issues</a></li>
                    <li @if(constant == MenuContants.NEW_ISSUE) { class="active"}><a href="/new_issue">Create Issue</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="container">
        @content
    </div>

    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
</body>
</html>
