@(pagination: helpers.Pagination.Navigation)
<div>
    <ul class="pager">
        @paginationLink(link: Option[Call], rel: String, text: String) = {
            @link match {
                case Some(l) => {
                    <li class="@rel"><a rel="@rel" href="@l">@play.twirl.api.Html(text)</a></li>
                }
                case None => {
                    <li class="@rel disabled"><a>@play.twirl.api.Html(text)</a></li>
                }
            }
        }
        @paginationLink(pagination.prev, "previous", "&larr; Prev")
        @paginationLink(pagination.next, "next", "Next &rarr;")
    </ul>
</div>
